.UserWdigetComponentContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textColorBlack {
  color: black;
}
.textColorGrey {
  color: #cac4c4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0;
}

li {
  height: 2rem;
}

.sideNavBarContainer {
  box-sizing: border-box;
  width: 20vw;
  height: 100vh;
}

.LogoImage {
  height: 2rem;
  margin: 1rem 0 1rem -2rem;
}

.sideNavBarText {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.headerContainer {
  display: flex;
  box-sizing: border-box;
  width: 80vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.LogoImageHeaderContainer {
  display: none;
}

.userProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileName {
  font-size: 0.9rem;
  margin: 0 0.5rem;
}
.userProfileRole {
  font-size: 0.7rem;
}

.userProfilePhoto img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: contain;
}

.userContainer {
  box-sizing: border-box;
  background: #f3f2f2;
  width: 80vw;
  height: 90vh;
}

.userHeaderContainer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.userHeaderContainerFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userHeaderContainerFilterInside {
  display: flex;
  justify-content: space-between;
}

.userHeaderContainerFilterBtn {
  border-radius: 0.3rem;
  font-size: 0.9rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 500;
  justify-content: center;
}

.activeBtn {
  background-color: blueviolet !important;
  color: white !important;
}

.userHeaderContainerBtn {
  background-color: blueviolet;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  color: white;
  font-weight: 500;
  justify-content: center;
}

.userBody {
  box-sizing: border-box;
  background: white;
  display: flex;
  border-radius: 1%;
  position: relative;
  justify-content: center;
  margin: 1rem;
}

.userBodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
}

.userBodyHeaderFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBodyHeaderFilterBtn {
  width: 6rem;
  height: 2rem;
  background: #f3f2f2;
  border: 1px solid #cac4c4;
  color: blueviolet;
  border-radius: 5%;
  display: flex;
  align-items: center;
  margin: 0 7px;
  justify-content: center;
}

.searchBar {
  width: 13rem;
  height: 2rem;
  border: 1px solid #cac4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f2f2;
  color: blueviolet;
  border-radius: 2%;
  margin: 0 7px;
}

.searchBar input[type="text" i] {
  border: none;
  background: #f3f2f2;
}

.userBodySection {
  height: 59vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.profileCard {
  width: 17.9rem;
  display: flex;
  align-items: stretch;
  border: 1px solid #cac4c4;
  background-color: #f3f2f2;
  margin: 5px;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.profileCard img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
}

.profileCard .profilePicture {
  display: flex;
  align-items: center;
}

.profileInfo {
  font-size: 0.7rem;
  text-align: left;
}

.profile-info .name {
}
.profile-info .email {
}
.profile-info .status {
}

.userBodyFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 9vh;
}

@media only screen and (max-width: 800px) {
  .userProfile,
  .sideNavBarContainer {
    display: none;
  }
  .LogoImageHeaderContainer {
    display: block;
  }
  .userBodySection {
    overflow-y: scroll;
    justify-content: center;
  }
}
